control.center/
elasticsearch/
IIS Express/
output/
rabbitmq_base/
rabbitmq_server/
schedulers/

subscribers/
subscribers.host/
tools/
utils/

sources/_generated/
web/bin/
web/Web.config

ControlCenter.bat
version.json
project.json
StartWorker.bat

*.dll
*.pdb

[0-9]{5}.ps1
\d{5}.ps1
103*.ps1