<h1>Incident All</h1>
<div class="row">
    <div class="col-md-8">
        <button class="btn btn-link pull-right" data-bind="visible: chartFiltered, click: clearChartFilter">
            <i class="fa fa-times"></i>
            Clear chart's filter
        </button>
        <table class="table table-striped" data-bind="filter : {path:'tbody>tr'}, searchPaging :{ query: query, map : map, entity : 'Incident', list:list}">
            <thead>
                <tr>
                    <th>Number</th>
                    <th>Machine Name</th>
                    <th>Errors  Class Name</th>
                    <th>Created Date</th>
                    <th>Status</th>
                    <th>Resolution</th>
                </tr>
            </thead>
            <tbody data-bind="foreach :list">
                <tr data-bind="">

                    <td>
                        <a data-bind="attr : {href:'#incident-detail' + '/' + Id, title:'Number' }">
                            <i class="fa fa-external-link"></i>
                                                        <span data-bind="text:Number"></span>
                        </a>
                    </td>
                    <td>
                        <a data-bind="attr : {href:'#incident-environment' + '/' + Id, title:'Machine Name' }">
                            <i class="fa fa-bolt"></i>
                                                        <span data-bind="text:MachineName"></span>
                        </a>
                    </td>
                    <td>
                        <a data-bind="attr : {href:'#incident-errors' + '/' + Id, title:'Errors  Class Name' }">
                            <i class="fa fa-bolt"></i>
                                                        <span data-bind="text:Errors.ClassName"></span>
                        </a>
                    </td>
                    <td data-bind="date:{ value:CreatedDate, format:&#39;D/M/YYYY HH:mm&#39;}"></td>
                    <td data-bind="text:Status"></td>
                    <td data-bind="text:Resolution"></td>


                </tr>
            </tbody>
        </table>
        <img src="/Images/spinner-md.gif" alt="loading" class="absolute-center" data-bind="visible: isBusy" />
    </div>

    <!-- ko compose : {view : '_chart.panel'}-->
    <!-- /ko -->
</div>